.formInput {
	margin-bottom: 10px;

	label {
		display: block;
		margin-bottom: 5px;
	}

	input {
		border: solid 1px #ccc;
		outline: none;

		&:invalid[data-focused="true"] {
			border: solid 1px red;

			& ~ .errorMessage {
				display: block;
			}
		}
	}

	.errorMessage {
		display: block;
		margin-top: 6px;
		font-size: 12px;
		color: red;
		display: none;
	}
}
