.countdown-button {
	background-color: #aaa;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

.countdown-button.buy-button {
	background-color: #53c28b;
}

.countdown-button.disabled {
	background-color: #f44336;
	opacity: 0.4;
	cursor: not-allowed;
}
